body {
    background-color: rgba(47, 45, 45, 0.548);
}

#showcase {
    position: relative;
    background: url("https://blog.contena.co/wp-content/uploads/2018/03/Tax-Information-for-Freelance-Writers-2-800x464.jpg");
    min-height: 600px; 
}
    
#showcase .overlay {
      background: rgba(7, 14, 15, 0.609);
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh; 
    }